.container{
  width: 480px;
  height: 269px;
  position: absolute;
  top: 50%;
  left: 43%;
  margin: -250px 0 0 -125px;
}

.contentBox{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  width: 56px;
  padding-top: 20px;
}