.imageBox{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center
}

.image{
    border-radius: 8px;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}